<div class="desktop-icons">
  <a href="{{ '/' | relative_url }}" class="desktop-icon">
    <div class="desktop-icon-img">&#128187;</div>
    <span>My Blog</span>
  </a>
  <a href="{{ '/about' | relative_url }}" class="desktop-icon">
    <div class="desktop-icon-img">&#128196;</div>
    <span>About Me</span>
  </a>
  <a href="{{ '/feed.xml' | relative_url }}" class="desktop-icon">
    <div class="desktop-icon-img">&#127760;</div>
    <span>RSS Feed</span>
  </a>
  <a href="https://github.com" class="desktop-icon" target="_blank">
    <div class="desktop-icon-img">&#128190;</div>
    <span>GitHub</span>
  </a>
</div>
